/* ---------- Font ---------- */
$base-font-size: 16px;

/* ---------- Color ---------- */
$color-primary: #51B8BF;
$color-primary-dark: #4D8E8E;
$color-shop: #2CBAA3;

$color-background: #F7F8FA;
$color-footer: #2C3E50;

$color-footer-list: rgba(255, 255, 255, .4);
$color-footer-text: rgba(255, 255, 255, .7);
$color-footer-link: white;
$color-footer-line: rgba(255, 255, 255, .12);

$color-travel: #2780BA;
$color-aiot: #B35DCF;
$color-donate: #EF5479;
$color-care: #EF884C;
$color-communication: #EFC94C;
$color-campaign: #5EC33A;

$color-gray4: #444;
$color-gray6: #666;
$color-gray9: #999;
$color-grayA: #AAA;
$color-grayB: #BBB;
$color-grayC: #CCC;
$color-grayD: #DDD;
$color-grayE: #EEE;

/* ---------- Breakpoint ---------- */
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;
